#dettagli-auto {
    width: 900px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.contenitore-carosello {
    background-color: rgba(255, 255, 255, 0.7); 
    max-width: 85%;
}