/********************/
/**  Sezione home  **/
/********************/
hr {
    border: 0;
    height: 2px;
    width: 54%;
    margin-top: 3%;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}


/***************************/
/**  Sezione 'Chi siamo'  **/
/***************************/
.chi-siamo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}


/**************************************/
/**  Sezione 'Perchè scegliere noi'  **/
/**************************************/
.perche-noi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

#elenco-perche-noi {
    padding-bottom: 1%;
}


/****************************/
/**  Sezione 'Dove siamo'  **/
/****************************/
.dove-siamo {
    margin-top: 2%;
    margin-bottom: 4%;
}


/****************************/
/**  Sezione 'Regolamento'  **/
/****************************/
.regolamento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

#elenco-regolamento {
    padding-bottom: 1%;
}


/*******************/
/**  Sezione FAQ  **/
/*******************/
.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 3%;
}

.faq-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.dom-risp {
    height: 200px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px #c6c6c6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 2%;
    box-sizing: border-box;
}

.domanda {
    font-size: 26px;
    font-weight: bold;
    color: black;
}

.risposta {
    font-size: 20px;
    color: rgb(65, 65, 65);
}